{% extends "network/layout.html" %}

{% block body %}
    <script>
       function changeInput(input, nextInputId, prevInputId) {
          const value = input.value;

              // Move to the next input if there is a next input field
          if (nextInputId) {
            const nextInput = document.getElementById(nextInputId);
            if (nextInput) {
                nextInput.focus();
            }
          }

              // If the user erased something, move to the previous input
          if (value === '' && prevInputId) {
            const prevInput = document.getElementById(prevInputId);
            if (prevInput) {
                prevInput.focus();
            }
          }
       }
    </script>

    <div id="message" class="alert alert-danger" role="alert" style="display:none;">{{ message }}</div>
    <div style="display:block;margin: 0 auto;text-align:center;">
        <div style="padding:20px;top:50%;left:50%;margin:0 auto;transform: transform(-50%, -50%);width:40%;background:white;align-items:center;border-radius:10px;border:5px;height:100vh;justify-content:center;">
            <h1>Password Verification</h1>
            <p>We emailed you the six digit code to your email. Enter the code below to confirm your email address</p>
            <form method="post" action="{% url 'new_password' user %}">
                {% csrf_token %}
                <div style="display:flex;align-items:center;justify-content:center;margin:40px 0;">
                    <input autofocus oninput="changeInput(this, 'password_verification_code_2', 'password_verification_code_1')" id="password_verification_code_1" type="text" maxlength="1" min="0" style=" border-radius:10px;border:1px solid;font-size:30px;width:75px;height:80px;margin:10px;text-align:center;font-weight:300;font-family:sans-serif;" max="9" name="password_verification_code_1" required>
                    <input oninput="changeInput(this, 'password_verification_code_3', 'password_verification_code_1')" id="password_verification_code_2" type="text" maxlength="1" style="border-radius:10px;border:1px solid;font-size:30px;width:75px;height:80px;margin:10px;text-align:center;font-weight:300;font-family:sans-serif;" min="0" max="9" name="password_verification_code_2" required>
                    <input oninput="changeInput(this, 'password_verification_code_4', 'password_verification_code_2')" id="password_verification_code_3" type="text" maxlength="1" min="0" style=" border-radius:10px;border:1px solid;font-size:30px;width:75px;height:80px;margin:10px;text-align:center;font-weight:300;font-family:sans-serif;" max="9" name="password_verification_code_3" required>
                    <input oninput="changeInput(this, 'password_verification_code_5', 'password_verification_code_3')" id="password_verification_code_4" type="text" maxlength="1" min="0" style=" border-radius:10px;border:1px solid;font-size:30px;width:75px;height:80px;margin:10px;text-align:center;font-weight:300;font-family:sans-serif;"  max="9" name="password_verification_code_4" required>
                    <input oninput="changeInput(this, 'password_verification_code_6', 'password_verification_code_4')" id="password_verification_code_5" type="text" maxlength="1" min="0" style=" border-radius:10px;border:1px solid;font-size:30px;width:75px;height:80px;margin:10px;text-align:center;font-weight:300;font-family:sans-serif;" max="9" name="password_verification_code_5" required>
                    <input oninput="changeInput(this, 'password_verification_code_6', 'password_verification_code_5')" type="text" maxlength="1" min="0" id="password_verification_code_6" style=" border-radius:10px;border:1px solid;font-size:30px;width:75px;height:80px;margin:10px;text-align:center;font-weight:300;font-family:sans-serif;" max="9" name="password_verification_code_6" required>
                </div>
                <input class="btn btn-primary" type="submit" value="Verify">
            </form>
            <small>If you didn't receive the code <a href="{% url 'new_password' user %}">Click Here</a></small>
        </div>
    </div>

    </div>

{% endblock %}