{% extends "network/layout.html" %}

{% block body %}

        <div style="margin: 0 auto;text-align:center;">
        <div style="padding:20px;top:50%;left:50%;margin:0 auto;transform: transform(-50%, -50%);width:40%;background:white;align-items:center;border-radius:10px;border:5px;height:100vh;justify-content:center;">
            <h1>Enter New Password</h1>
            <form id="confirmed_password" action="{% url 'confirm_password' user %}" method="post">
                {% csrf_token %}
                <div class="txt_field">
                    <input autofocus type="password" name="new_password" required>
                    <span></span>
                    <label>Type New Password</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="retype_new_password" required>
                    <span></span>
                    <label>Retype Password</label>
                </div>

                <input class="btn btn-primary" type="submit" value="Save">
            </form>
        </div>
        </div>


{% endblock %}