{% extends "network/layout.html" %}

{% block body %}


    {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    <div style="margin: 0 auto;text-align:center;">
        <div style="padding:20px;top:50%;left:50%;margin:0 auto;transform: transform(-50%, -50%);width:40%;background:white;align-items:center;border-radius:10px;border:5px;height:100vh;justify-content:center;">
            <h1>Login</h1>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="txt_field">
                    <input autofocus type="text" name="username" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="pass"><a href="{% url 'email_address' %}">Forgot your password?</div>
                <input class="btn btn-primary" type="submit" value="Login">
                <div class="signup-link">
                    <a href="{% url 'register' %}">Don't Have An Account?</a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}